.vs/
Kangaroo.vcxproj.user
Kangaroo.vcxproj.user
Kangaroo.vcxproj.user
Kangaroo.VC.opendb
Kangaroo.sdf
vc140.pdb
x64/
obj/
.idea/
CMakeLists.txt
kangaroo
kangaroo-256
cmake-build-debug/
*.prf
input-*
